.contact__section {
  margin-top: 80px;
}

.contact__title {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.contact__title h2 {
  font-size: 2rem;
  font-weight: 600;
}
.contact__title p {
  font-size: 1rem;
  color: black;
}

.contact__details {
  padding: 50px 100px;
}

.contact {
  padding: 10px 30px;
  width: 300px;
  background: rgb(22, 140, 163);
  background: linear-gradient(
    90deg,
    rgba(22, 140, 163, 1) 25%,
    rgba(12, 123, 134, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  text-align: center;
  border-radius: 10px;
}
.contact:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.contact h4 {
  font-size: 1rem;
  font-weight: bold;
}
.contact p {
  font-size: 0.9rem;
  font-weight: 400;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__input {
  display: flex;
  flex-direction: column;
  gap: 2;
}
.contact__input input {
  width: 350px;
  height: 38px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

.contact__input textarea {
  width: 350px;
  height: 150px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

.send__btn {
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 4px 10px;
  background: rgb(17, 107, 145);
  background: linear-gradient(
    90deg,
    rgba(17, 107, 145, 1) 25%,
    rgba(12, 123, 134, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
}

@media screen and (max-width: 990px) {
  .contact__section {
    align-items: center;
    justify-content: center;

    flex-direction: column;
  }
  .contact__details {
    flex-direction: column;
  }
  .contact__form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
  }
}
